<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionImageStoreDB" connectionString="SERVER=DESKTOP-M5BSNSQ\SQLEXPRESS;DATABASE=ImageStoreDB; INTEGRATED SECURITY=TRUE;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionImageStoreDB" connectionString="Data Source=DESKTOP-M5BSNSQ\SQLEXPRESS;Initial Catalog=ImageStoreDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
  <add name="ConnectionImageStoreDB" connectionString="SERVER=DESKTOP-M5BSNSQ\SQLEXPRESS ; DATABASE= ImageStoreDB ; Integrated Security=true" providerName="System.data.SqlClient"/>
  <!--Data Source=DESKTOP-M5BSNSQ\SQLEXPRESS;Initial Catalog=ImageStoreDB;Integrated Security=True-->
  </connectionStrings>
 
    
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
   <!--<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
   </appSettings>-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>